<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">

    <title>VueJS!</title>
  </head>
  <body>
    <div class="container" id="app">

        <div class="row mt-5">
            <div class="col">
                <h1>Cars application</h1>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="search" class="form-label">Find your car</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="search" 
                        placeholder="Name, model ..."
                        v-model="search"
                    >
                  </div>

                  <hr>

                <ul class="list-group">
                    <li 
                        v-for="(car, index) in filteredCars"
                        class="list-group-item list-group-item-action pointer"
                        v-on:click="selectCar(index)"
                        :class="{'active': selectedCarIndex === index}"
                    >
                        {{ car.name }} - {{ car.model }}
                    </li>
                </ul>
            </div>
            <div class="col-md-8 pt-3">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{ car.name }}</h2>
                        <img 
                            :src="car.image" 
                            :alt="car.name" 
                            class="rounded detailed-app-image"
                        >
                    </div>
                    <div class="col-md-6 offset-md-1 pt-2">
                        <h5>Car details</h5>

                        <ul>
                            <li>Model - <strong>{{ car.model }}</strong></li>
                            <li>Year - <strong>{{ car.year }}</strong></li>
                            <li>Ovner - <strong>{{ car.owner }}</strong></li>
                        </ul>

                        <div class="phone-block">
                            <transition name="phone">
                                <p v-if="phoneVisibility">{{ car.phone }}</p>
                            </transition>
                        </div>

                        <button
                            class="btn btn-outline-success phone-btn mr-3" 
                            @click="phoneVisibility = !phoneVisibility"
                            v-text="phoneBtnText"
                        >
                        </button>
                        <button 
                            class="btn btn-primary" 
                            data-toggle="modal" 
                            data-target="#exampleModal"
                            @click="modalVisibility = true"
                        >
                            Buy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-3" v-if="logs.length !== 0">
            <div class="col-12">
                <div
                    v-for="log in logs" 
                    class="alert alert-secondary" 
                    role="alert"
                    :class="{
                        'alert-success': log.type === 'ok',
                        'alert-secondary': log.type === 'cancel'
                    }"
                >
                    <strong>{{ log.type | capitalize }}!</strong> {{ log.text }} {{ log.date | date }}
                </div>
            </div>
        </div>

        <!-- Modal -->
        <transition name="modal">
            <div
                class="modal fade" 
                id="exampleModal" 
                tabindex="-1" 
                aria-labelledby="exampleModalLabel" 
                aria-hidden="true"
                :class="{'show': modalVisibility}"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Do you want to by this car</h5>
                            <button 
                                type="button" 
                                class="close" 
                                data-dismiss="modal" 
                                aria-label="Close"
                                @click="modalVisibility = false"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Current car - <strong>{{ car.name }}</strong></p>
                            <ul>
                                <li>Model - <strong>{{ car.model }}</strong></li>
                                <li>Year - <strong>{{ car.year }}</strong></li>
                                <li>Ovner - <strong>{{ car.owner }}</strong></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button 
                                type="button"  
                                class="btn btn-secondary" 
                                @click="cancelOrder"
                            >
                                Cancel
                            </button>
                            <button 
                                type="button" 
                                class="btn btn-primary"
                                @click="newOrder"
                            >
                                Buy
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <transition name="fade">
            <div class="modal-backdrop fade show" v-if="modalVisibility"></div>
        </transition>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="app.js"></script>

</body>
</html>